---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title={"Home"} description={"Home Page"}>
    <Fragment slot="main">
        <h2 style="color:#ec2cae">Hello!</h2>
        <h1 style="color:#1fdad4">Welcome to Soymilk Blog~</h1>
        <article style="color:#1e9c19"><p>This is my personal website.</p></article>
    </Fragment>
</BaseLayout>
