---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title={"jiangwei小站"} description={"Home Page"}>
  <Fragment slot="main">
    <h2>Hello!</h2>
    <h1 style="color:#1fdad4">Welcome to JiangWei 小站~</h1>
    <article style="color:#1e9c19"><p>This is my personal website.</p></article>
  </Fragment>
</BaseLayout>

<style>
  h2 {
    display: inline-block;
    background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
