---
import BaseLayout from "../layouts/BaseLayout.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import SearchBar from "../components/svelte/SearchBar.svelte";

// Retrieve all articles
const posts = await getCollection("blog", ({ data }) => !data.draft);

const searchList = posts.map(({ data, slug }) => ({
  title: data.title,
  url: `/blog/${slug}`,
}));
---

<BaseLayout title={"jiangwei小站"} description={"Home Page"}>
  <Fragment slot="main">
    <!-- <h2>Hello!</h2>
    <h1 style="color:#1fdad4">Welcome to JiangWei 小站~</h1>
    <article style="color:#1e9c19"><p>This is my personal website.</p></article> -->
    <SearchBar client:load searchList={searchList} />
  </Fragment>
</BaseLayout>

<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"
></script>

<style>
  h2 {
    display: inline-block;
    background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
