---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
// import MyParticles from "../components/Particles/ParticlesHome.astro";
import { BlogParticles } from "../components/react/BlogParticles.tsx";
// import MyParticles from '../components/MyVueComponent.vue';
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <!-- <BlogParticles client:load/> -->
    </main>
    <Footer />
  </body>
</html>
