---
import { getSiteURL } from "../utils/getSiteUrl";
import Icon from "astro-icon";
---

<nav aria-label="Main Menu" class="navigation">
  <a href="#main" class="hidden-menu">Skip to main content</a>
  <ul class="navigation-list">
    <li class="navigation-list--links">
      <a rel="prefetch" href={getSiteURL("/", Astro.site).toString()}>Home</a>
    </li>
    <li class="navigation-list--links">
      <a rel="prefetch" href={getSiteURL("blog", Astro.site).toString()}>Blog</a>
    </li>
    <li class="navigation-list--links">
      <a rel="prefetch" href={getSiteURL("tag", Astro.site).toString()}>Tag</a>
    </li>
    <li class="navigation-list--links">
      <a rel="prefetch" href={getSiteURL("search", Astro.site).toString()}>
        <Icon
          name="eva:search-outline"
          size={18}
          aria-hidden="true"
          class="light"
        />
         Search
      </a>
    </li>
    <!-- <li class="navigation-list--links">
      <a rel="prefetch" href="/vue">Vue</a>
    </li> -->
  </ul>
</nav>
