---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import TagCloud from "../../components/vue/TagCloud.vue";

const allPosts = await getCollection("blog");
const uniqueTag = [...new Set(allPosts.map((p) => p.data.tags).flat())];
---

<BaseLayout
  title={`Tag`}
  description={`All the tags used in posts.`}
  className={"grid"}
>
  <Fragment slot="main">
    <!-- <ul class="flex-wrap card-tags">
      {
        uniqueTag.map((t) => (
          <li class="tag-link">
            <a href={`/tag/${t}`}>
              <span aria-hidden="true"># </span>
              {t}
            </a>
          </li>
        ))
      }
    </ul> -->
    <TagCloud tags={uniqueTag} client:load />
  </Fragment>
</BaseLayout>
